<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Scrape Some Data!</h1>
        <hr>
        <p class="lead">Oh yeah! Let's grab some data</p>
        <a href="/scrape"><button id="refresh">Refresh Feed</button></a>
    </div>
</div>

<div id="headline-container" class="">
    <div id="headlines">
        
    </div>
</div>